         {% load static %}

          <style>

input {border:0;outline:0;}
input:focus {outline:none!important;}

         </style>        
                   
                   
                   
   

    
        
        {% comment %} Adding Form with All inputs Here {% endcomment %}

    <form role="form" method="POST" action="{{ reg_student_save }}" enctype="multipart/form-data">
      {% csrf_token %} 


        <div class="row">
          <div class="col-md-6 py-3">
            <div class="input-group">
             {{ forms.first_name }}
             <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-6 py-3">
            <div class="input-group">
             {{ forms.last_name }}
             <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              {{ forms.username }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ forms.gender }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              {{ forms.course_id }}
            </div>
          </div>
          
          <div class="col-md-6 ">
            <div class="form-group">
              {{ forms.session_year_id }}
            </div>
          </div>
        </div>

        <div class="form-group text-primary my-2">
          {{ forms.profile_pic }}
        </div>

        <div class="input-group  my-4">
          {{ forms.address }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-home fa-fw"></span>
            </div>
          </div>
        </div>

        <div class="input-group my-4">
          {{ forms.phone }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa fa-phone"></span>
            </div>
          </div>
        </div>

        <div class="input-group my-4">
          {{ forms.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

       
        <div class="input-group my-4"onclick="genpassword()">
          {{ forms.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <label>Suggestions</label>
        <input id="pwd"onclick="gen();generate()"> <input  id="pswd"onclick="generation();generated()"> 
        
        

        <div class="input-group  my-4">
          {{ forms.confirm_password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
       
     
       
        <div class="d-flex justify-content-end ">
          <button type="submit"id="submit" class="btn btn-info btn-lg my-1">Submit form</button>
        </div>
        
    </form>


     <!-- Modal alert message-->
     <div class="modal fade" id="Mymessages" tabindex="-1" role="dialog" aria-labelledby="MymessagesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
          <div class="modal-body text-center">
            <div class="text-center mt-3">
                <i class="fas fa-exclamation fa-4x"style="color: red;"></i>
            </div> 
            <br>
            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
           
              {% for i in messages %}
                {% if i.tags == "error" %}
                  
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script>
                      $(document).ready(function(){
                        $("#Mymessages").modal('show');
                      });
                    </script>
                    <h5>{{ i }}</h5>
                    
                {% endif %}
              {% endfor %}
            
            {% endif %}
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"style="width:65px;">Close</button>
           
          </div>
        </div>
      </div>
    </div> 



    <!-- Modal alert message-->
     <div class="modal fade" id="mymessages" tabindex="-1" role="dialog" aria-labelledby="mymessagesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
          <div class="modal-body text-center">
            <div class="text-center mt-3">
                <i class="fas fa-check fa-4x"style="color: green;"></i>
            </div> 
            <br>
            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
           
              {% for i in messages %}
                {% if i.tags == "success" %}
                  
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script>
                      $(document).ready(function(){
                        $("#mymessages").modal('show');
                      });
                    </script>
                    <h5>{{ i }}</h5>
                    
                {% endif %}
              {% endfor %}
            
            {% endif %}
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"style="width:65px;">Close</button>
           
          </div>
        </div>
      </div>
    </div> 
